.section-title{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}
.chat-page{
   background-color: white !important;
   padding: .5rem;
   border-radius: 15px;
}
.chat-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: calc(100% - 110px);
    margin: 1rem auto;
}
.chat-input input {
    border-bottom: 2px solid #333;
    width: 750px;
}
.chat-input button{
    background-color: #242e42;
    color: white;
}
.chat-input button:hover{
    background-color: #1d2636;
}